.statistics {
  width: 250px;
  border: solid 1px rgb(211, 221, 221);
}

.title {
  font-size: 16p;
  color: #333333;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 25px;
}

.stat_list {
  display: flex;
  padding: 0;
}

.item {
  width: 70px;
  border: solid 1px teal;
}

.label {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-evenly;
}

.percentage {
  font-size: 16px;
  display: flex;
  justify-content: space-evenly;
}
